apiVersion: v1
kind: Secret
metadata:
  name: passphrase
stringData:
  COSIGN_PASSWORD: <passphrase for cosign.key private key>

---

## Create this with:
#  kubectl create secret generic dockerhub-dockerconfig \
#   --from-file=.dockerconfigjson=<path/to/.docker/config.json> \
#   --type=kubernetes.io/dockerconfigjson

apiVersion: v1
kind: Secret
metadata:
  name: dockerhub-dockerconfig
  annotations:
    tekton.dev/docker-0: https://index.docker.io
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: <base64-encoded docker config>
